* {
    padding: 0;
    margin: 0;
}
header{
    border: solid 1px rgb(0, 0, 0);
    height: 140px;
    width: 980px;
    background-color: rgb(33, 92, 33);
}
.sidebar{
    border: solid 1px black;
    height: 450px;
    width: 270px;
    margin: 15px 15px 15px 0px;
    display: inline-block;
    background-color: rgb(33, 92, 33);
}
.content{
    border: solid 1px black;    
    height: 450px;
    width: 690px;
    margin: 15px 15px 15px 0px;
    display: inline-block;
    background-color: rgb(33, 92, 33);
}
footer{
    border: solid 1px black;
    height: 70px;
    width: 980px;
    background-color: rgb(33, 92, 33);
}
h2{
    color: white;
}
p{
    color: white;
}